{
  "packages/frontend/**/*": "node scripts/verifyScope.js frontend",
  "packages/backend/**/*": "node scripts/verifyScope.js backend",
  "*.js": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.html": ["eslint", "prettier --write"],
  "*.scss": "prettier --write"
}
